#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

/* Etapa 1 */
#water {
    grid-column-start: 3;
}

/* Etapa 2 */  
#poison {
    grid-column-start: 5;
}

/* Etapa 3 */
#water {
    grid-column-start: 1;
    grid-column-end: 4;
}

/* Etapa 4 */ 
#water {
    grid-column-start: 5;
    grid-column-end: -5;
}

/* Etapa 5 */
#water {
    grid-column-start: 1;
    grid-column-end: -2;
}

/* Etapa 6 */
#poison {
    grid-column-start: -3;
}

/* Etapa 7 */ 
#water {
    grid-column-start: 2;
    grid-column-end: span 2;
}

/* Etapa 8 */ 
#water {
    grid-column-start: 1;
    grid-column-end: span 5;
}

/* Etapa 9 */
#water {
    grid-column-start: span 3;
    grid-column-end: 6;
}

/* Etapa 10 */ 
#water {
    grid-column: 4/6;
}

/* Etapa 11 */ 
#water {
    grid-column: 2/ span 3;
}

/* Etapa 12 */
#water {
    grid-row-start: 3;
}

/* Etapa 13 */ 
#water {
    grid-row: 3/6;
}

/* Etapa 14 */
#poison {
    grid-column: 2/3;
    grid-row: 5/6;
}

/* Etapa 15 */
#water {
    grid-column: 2 /span 4;
    grid-row: 1 / span 5;
}    

/* Etapa 16 */
#water {
    grid-area: 1 / 2 / 4 / 6;
}

/* Etapa 17 */
#water-1 {
    grid-area: 1 / 4 / 6 / 5;
}
  
#water-2 {
    grid-area: 2/3/5/6;
}

/* Etapa 18 */
.water {
    order: 0;
}
  
#poison {
    order: 1;
}

/* Etapa 19 */
.water {
    order: 0;
}
  
.poison {
    order: -1;
}

/* Etapa 20 */
#garden {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
    grid-column: 1;
    grid-row: 1;
}

/* Etapa 21 */
#garden {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
    grid-column: 1;
    grid-row: 1;
}

/* Etapa 22 */
#garden {
    display: grid;
    grid-template-columns: 100px 3em 40%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

/* Etapa 23 */
#garden {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

/* Etapa 24 */
#garden {
    display: grid;
    grid-template-columns: 50px repeat(3, 1fr) 50px;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
    grid-area: 1 / 1 / 6 / 2;
}
  
#poison {
    grid-area: 1 / 5 / 6 / 6;
}

/* Etapa 25 */
#garden {
    display: grid;
    grid-template-columns: 75px 3fr 2fr;
    grid-template-rows: 100%;
}

/* Etapa 26 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50px 0fr 0fr 0fr;
}
  
#water {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
}

/* Etapa 27 */
#garden {
    display: grid;
    grid-template: 60% 40% / 200px
}
  
#water {
    grid-column: 1;
    grid-row: 1;
}  